# Игнорировать виртуальное окружение
venv/
.env/

# Игнорировать временные файлы и логи
*.log
*.tmp
*.bak
*.swp

# Игнорировать выходные txt-отчёты
*.txt

# Игнорировать JSON-файлы с данными (если они не должны храниться в репозитории)
*.json

# Игнорировать системные файлы
.DS_Store
Thumbs.db

# Игнорировать кэш Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорировать настройки IDE
.vscode/
.idea/
